<%- include('templates/admin_header') %>
    <%- include('templates/admin_sidebar') %>
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Daftar Transaksi</h1>



        </div>
        <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <%- include('templates/admin_footer') %>