<tr>
  <td class="cart_product"></td>
  <td class="cart_description"></td>
  <td class="cart_price"></td>
  <td class="cart_quantity"></td>
  <td class="cart_total"></td>
  <td class="cart_delete">
    <form action="/cart" method="post">
      <%if (data.length != 0) {%>
      <input type="submit" class="btn btn-primary" />
      <%}%>
    </form>
  </td>
</tr>
