<%- include('../templates/header')-%>
<section id="cart_items">
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Shopping Cart</li>
      </ol>
    </div>
    <div class="table-responsive cart_info">
      <table class="table table-condensed">
        <thead>
          <tr class="cart_menu">
            <td class="image">Item</td>
            <td class="description"></td>
            <td class="price">Price</td>
            <td class="quantity">Quantity</td>
            <td class="total">Total</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <% for(var i = 0; i < data.length; i++) { %> <%-
          include('cart_item/cart_item', {data:data[i]})-%> <% } %> <%-
          include('cart_item/cart_submit')-%>
        </tbody>
      </table>
    </div>
  </div>
</section>
<!-- ATAS BAWAH -->

<%- include('../templates/footer')-%>
